<h1>Major League Soccer News!</h1>
<h4>Scraping data from MLSSoccer.com</h4>
<a href="/scrape" class="btn btn-success">Scrape Articles</a>
<a href="/delete-all" class="btn btn-success">Delete Articles</a>